<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　注文管理　注文データダウンロード</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% if (sessionLogin) { %>
    <%- sessionStaffName %> さんログイン中<br />
    <br />
  <% } %>
  ダウンロードしたい注文日を選んでください。<br />
  <form method="post" action="order_download_done">
    <select name="year">
      <% selectYear.forEach((value, key) => { %>
      <option value="<%- value %>"><%- value %></option>
      <% }); %>
    </select>年
    <select name="month">
      <% selectMonth.forEach((value, key) => { %>
      <option value="<%- value %>"><%- value %></option>
      <% }); %>
      </select>月
    <select name="day">
      <% selectDay.forEach((value, key) => { %>
        <option value="<%- value %>"><%- value %></option>
      <% }); %>
      </select>日<br />
    <br />
    <input type="submit" value="ダウンロード">
  </form>
</body>

</html>