<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　商品削除</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  商品削除<br />
  <br />
  商品コード <br />
  <%- productData.code %><br />
  商品名<br />
  <%- productData.name %><br />
  <% if (productData.gazou && productData.gazou.length > 0) { %>
    <img src="<%- '/images/' + productData.gazou %>">
  <% } %>
  <br />
  この商品を削除してよろしいですか？<br />
  <br />
  <form method="post" action="pro_delete_done">
    <input type="hidden" name="code" value="<%- productData.code %>">
    <input type="hidden" name="gazou_name" value="<%- productData.gazou %>">
    <input type="button" onclick="history.back()" value="戻る">
    <input type="submit" value="OK">
  </form>
</body>

</html>