<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　商品一覧</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% if (sessionLogin) { %>
    <%- sessionStaffName %> さんログイン中<br />
    <br />
  <% } %>
  商品一覧<br /><br />
  <form method="post" action="pro_branch">
    <% for (let i=0; i < productList.length; i++ ) { %>
      <input type="radio" name="procode" value="<%= productList[i].code %>">
      <%- productList[i].name %> --- <%- productList[i].price %> 円
      <% if (productList[i].gazou && productList[i].gazou.length > 0) { %>
        <img src="<%- '/images/' + productList[i].gazou %>" style="width: 80px; height: auto; border: 1px solid #000000;">
      <% } %>
      <br />
    <% } %>
    <br />
    <input type="submit" name="disp" value="参照">
    <input type="submit" name="add" value="追加">
    <input type="submit" name="edit" value="修正">
    <input type="submit" name="delete" value="削除">
  </form>
  <br />
  <a href="../staff_login/staff_top">トップメニューへ</a>
</body>

</html>