<!DOCTYPE html>
<html>

<head>
  <title>ろくまる農園　スタッフ追加　チェック</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% if (sessionLogin) { %>
    <%- sessionStaffName %> さんログイン中<br />
    <br />
  <% } %>
  <% if (staffNameIsError) { %>
    <%- staffNameErrorMessage %><br />
  <% } else { %>
    スタッフ名: <%- staffName %><br />
  <% } %>

  <% if (staffPassIsError) { %>
    <%- staffPassErrorMessage %><br />
  <% } %>

  <% if (staffNameIsError || staffPassIsError) { %>
    <form>
      <input type='button' onclick='history.back()' value='戻る'>
    </form>
  <% } else { %>
    <br />
    このスタッフを登録します。<br />
    <form method='post' action='staff_add_done'>
      <input type='hidden' name='name' value='<%- staffName %>'>
      <input type='hidden' name='pass' value='<%- md5Pass %>'>
      <br />
      <input type='button' onclick='history.back()' value='戻る'>
      <input type='submit' value='OK'>
    </form>
  <% } %>
</body>

</html>