<!DOCTYPE html>
<html>

<head>
    <title>ろくまる農園　ショップ　購入完了</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- onamae %> 様<br />
    ご注文ありがとうございました。<br />
    <%- email %> にメールを送りましたのでご確認ください。<br />
    商品は以下の住所に発送させていただきます。<br />
    <%- postal1 %>-<%- postal2 %><br/>
    <%- address %><br />
    <%- tel %><br />
</body>

</html>